@import url("https://fonts.googleapis.com/css2?family=Play&family=Playfair+Display:ital,wght@0,400;0,800;1,400;1,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Play", sans-serif, roboto;
}
body {
  /* background:#6f6f6f ; */
  /* background-color: #303030; */
  background-color: #3c486b;
}

.custom-scroolbar::-webkit-scrollbar {
  width: 5px;
  height: 10px;
  scroll-behavior: smooth;
}

/* Track */
.custom-scroolbar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
.custom-scroolbar::-webkit-scrollbar-thumb {
  background: rgba(57, 132, 253, 0.629);
  border-radius: 10px;
}

/* Handle on hover */
.custom-scroolbar::-webkit-scrollbar-thumb:hover {
  background: rgb(40, 121, 249);
}

/* infinite alternate backwards; */
.animate {
  animation: ripple 2.5s ease-in infinite;
  -webkit-animation: ripple 2.5s ease-in infinite;
}
@keyframes ripple {
  0% {
    transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -o-transform: scale(0.95);
  }
  100% {
    transform: scale(2);
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
    -webkit-transform: scale(2);
  }
}
/* make .upload at center of screen with translate */
.upload {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.to {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -45%);
  -webkit-transform: translate(-50%, -45%);
  -moz-transform: translate(-50%, -45%);
  -ms-transform: translate(-50%, -45%);
  -o-transform: translate(-50%, -45%);
}

.Loadingring {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  background: transparent;
  border: 3px solid #3c3c3c;
  border-radius: 50%;
  text-align: center;
  line-height: 150px;
  font-family: sans-serif;
  font-size: 20px;
  color: #fff000;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-shadow: 0 0 10px #fff000;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  z-index: 9999999999;
}
.Loadingring:before {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  width: 100%;
  height: 100%;
  border: 3px solid transparent;
  border-top: 3px solid #fff000;
  border-right: 3px solid #fff000;
  border-radius: 50%;
  animation: animateC 2s linear infinite;
}
.loadingAnimation {
  display: block;
  position: absolute;
  top: calc(50% - 2px);
  left: 50%;
  width: 50%;
  height: 4px;
  background: transparent;
  transform-origin: left;
  animation: animateL 2s linear infinite;
}
.loadingAnimation:before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #fff000;
  top: -6px;
  right: -8px;
  box-shadow: 0 0 20px #fff000;
}
@keyframes animateC {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animateL {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(405deg);
  }
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
